@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap");

/**** Root Styles ****/
:root {
  --color-default: #828282;
  --color-primary: #2f80ed;
  --color-secondary: #4f4f4f;
  --color-dark: #333333;
  --color-gray: #c4c4c4;
  --color-muted: #e0e0e0;

  --bg-default: #f2f2f2;
  --bg-white: #ffffff;
  --bg-dark: #100e1d;

  --border-radius-zero: 0;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;

  --font-default: "Montserrat", sans-serif;
  --font-primary: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  font-style: normal;
  font-weight: 500;
  color: var(--color-default);
  background-color: var(--bg-default);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
  border-radius: var(--border-radius-md);
}
input[type="checkbox"] {
  border: 1px solid var(--color-muted);
  box-sizing: border-box;
  border-radius: var(--border-radius-sm);
}
small {
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  transition: 300ms all ease;
}

/**** Buttons Styles ****/
button {
  border: none;
  border-radius: var(--border-radius-lg);
  padding: 12px 35px;
  transition: all ease-in 300ms;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  filter: brightness(0.9);
}
button.btn-sm {
  padding: 8px 22px;
}
button.btn-square {
  padding: 11px;
}

button.btn-outline-secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
button.btn-primary {
  background: var(--color-primary);
  color: var(--bg-white);
}
button.btn-outline-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.hidden {
  display: none;
}
.link {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-secondary);
}

/**** Font Weight Styles ****/
.font-weight-default {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}

/**** Color Text Styles ****/
.text-default {
  color: var(--color-default);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-dark {
  color: var(--color-dark);
}
.text-muted {
  color: var(--color-muted);
}

/**** Custom Styles ****/
/**** Container ****/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 10vw;
  /* padding: 70px 197px; */
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 305px 305px 305px;
  row-gap: 35px;
  column-gap: 35px;
}
main section:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
main section:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
main section:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/4;
}
main section:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/6;
}

/**** Resumen ****/
main .resumen {
  display: flex;
}
main .resumen .header {
  justify-content: space-between;
}
main .resumen .header .col:nth-child(1) {
  min-width: 200px;
}
main .resumen .header .link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main .resumen .header .link label {
  width: 190px;
}
main .resumen .image {
  max-width: 270px;
}
main .resumen .icon img {
  width: 21px;
  height: 21px;
  border-radius: var(--border-radius-zero);
  margin-right: 18px;
}
main .resumen .title {
  margin-bottom: 5px;
}
main .resumen .subtitle {
  margin-bottom: 35px;
}
main .resumen .text {
  margin-bottom: 15px;
}

/**** Skill ****/
main .skill .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
main .skill .col {
  margin-bottom: 17px;
}
main .skill .col label {
  width: 120px;
  margin-right: 20px;
}

/**** Blog ****/
main .blog {
  padding-right: 0;
}
main .blog .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .blog .header .info {
  max-width: 178px;
}
main .blog .content {
  padding-right: 22px;
}
main .blog .image {
  max-width: 270px;
}
main .blog .image img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
main .blog .subtitle {
  margin-bottom: 15px;
}
main .blog .end {
  position: absolute;
  bottom: 0;
  margin: 0;
}

/**** Hobbies *****/
main .hobbies .item {
  padding-bottom: 35px;
}
main .hobbies .item .info {
  padding-top: 15px;
}


/**** Row - Col ****/
.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.row .col {
  display: flex;
  justify-content: space-between;
}
.row-2 .col {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/**** Cards ****/
.card {
  display: block;
  padding: 22px;
  /* margin-bottom: 42px; */
  border: none;
  border-radius: var(--border-radius-md);
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.1);
  transition: all ease-in 300ms;
}
.card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 30px rgba(51, 51, 51, 0.1);
}
.card .body {
  width: 100%;
  padding: 0 32px;
}
.card picture {
  max-width: 380px;
}
.card img {
  margin: auto;
  width: 100%;
}
.card .title {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-secondary);
}
.card .subtitle {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-default);
}
.card .text {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-default);
}

/**** Progress Bar ****/
.progress {
  background-color: var(--color-gray);
  border-radius: var(--border-radius-lg);
  width: 235px;
  height: 9.5px;
}
.progress-done {
  background: var(--color-primary);
  box-shadow: 0 2px 2px -4px var(--color-primary),
    0 2px 4px var(--color-primary);
  border-radius: var(--border-radius-lg);
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 300ms;
}

/**** Footer ****/
footer {
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
footer .username {
  font-weight: 700;
  padding: 0 5px;
  text-decoration: underline;
}

/**** Container && Resumen ****/
@media (max-width: 768px) {
  .container {
    padding: 2.5vh 4.5vw;
  }
  main .resumen {
    flex-direction: column;
  }
  main .resumen .header .link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  main .resumen .image {
    margin: 0 auto;
    max-width: 370px;
  }
  main .resumen .body {
    padding: 22px 0 10px 0;
  }
  main .resumen .row {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }
  main .resumen .header {
    margin-bottom: 35px;
  }
  main .resumen .subtitle {
    margin-bottom: 0;
  }
}

/**** Row ****/
@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    row-gap: 35px;
    column-gap: 35px;
  }
  main section:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main section:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main section:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .row,
  .row-2 {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
  }
}

@media (max-width: 425px) {
  .progress {
    width: 100px;
  }
}
