@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap");

/**** Root Styles ****/
:root {
  --color-default: #828282;
  --color-primary: #2f80ed;
  --color-secondary: #4f4f4f;
  --color-dark: #333333;
  --color-gray: #c4c4c4;
  --color-muted: #e0e0e0;

  --bg-default: #f2f2f2;
  --bg-white: #ffffff;
  --bg-dark: #100e1d;

  --font-default: "Montserrat", sans-serif;
  --font-primary: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  font-style: normal;
  font-weight: 500;
  color: var(--color-default);
  background-color: var(--bg-default);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
  border-radius: 12px;
}
input[type="checkbox"] {
  border: 1px solid var(--color-muted);
  box-sizing: border-box;
  border-radius: 4px;
}
small {
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  transition: 300ms all ease;
}

/**** Buttons Styles ****/
button {
  border: none;
  border-radius: 12px;
  padding: 12px 35px;
  transition: all ease-in 300ms;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  filter: brightness(0.9);
}
button.btn-sm {
  padding: 8px 22px;
}
button.btn-square {
  padding: 11px;
}

button.btn-outline-secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
button.btn-primary {
  background: var(--color-primary);
  color: var(--bg-white);
}
button.btn-outline-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.hidden {
  display: none;
}
.link {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-secondary);
}

/**** Font Weight Styles ****/
.font-weight-default {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}

/**** Color Text Styles ****/
.text-default {
  color: var(--color-default);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-dark {
  color: var(--color-dark);
}

/**** Custom Styles ****/
/**** Container ****/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 5vw;
  /* padding: 70px 197px; */
}

/**** Resumen ****/
main .resumen {
  display: flex;
}
main .resumen .image {
  max-width: 270px;
}
main .resumen .icon img {
  width: 21px;
  height: 21px;
  border-radius: 0;
  margin-right: 18px;
}
main .resumen .title {
  margin-bottom: 5px;
}
main .resumen .subtitle {
  margin-bottom: 35px;
}
main .resumen .text {
  margin-bottom: 15px;
}

/**** Cards ****/
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.row .col {
  display: flex;
  flex-direction: column;
}

/**** Cards ****/
.card {
  display: block;
  padding: 22px;
  margin-bottom: 42px;
  border: none;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.1);
  transition: all ease-in 300ms;
}
.card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 30px rgba(51, 51, 51, 0.1);
}
.card .body {
  padding: 0 32px;
}
.card picture {
  max-width: 380px;
}
.card img {
  margin: auto;
  width: 100%;
}
.card .title {
  font-size: 24px;
  line-height: 29px;
  color: var(--color-secondary);
}
.card .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-default);
}
.card .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/**** Footer ****/
footer {
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
footer .username {
  font-weight: 700;
  padding: 0 5px;
  text-decoration: underline;
}

/**** Container && Resumen ****/
@media (max-width: 768px) {
  .container {
    padding: 2.5vh 4.5vw;
  }
  main .resumen {
    flex-direction: column;
  }
  main .resumen .image {
    margin: 0 auto;
    max-width: 370px;
  }
  main .resumen .body {
    padding: 22px 0 10px 0;
  }
  main .resumen .row {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }
  main .resumen .header {
    margin-bottom: 35px;
  }
  main .resumen .subtitle {
    margin-bottom: 0;
  }
}

/**** Row ****/
@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
  }
}
